<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="Book_Store_Management_System.Service1" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9000/Book_Store_Managment_System" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="Book_Store_Management_System.IService1" />
			</service>
			<service name="Book_Store_Management_System.Service2" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/Book_Store_Managment_System" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="Book_Store_Management_System.IService2" />
			</service>
			<service name="Book_Store_Management_System.Service3" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7000/Book_Store_Managment_System" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="Book_Store_Management_System.IService3" />
			</service>
			<service name="Book_Store_Management_System.Service4" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:6000/Book_Store_Managment_System" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="Book_Store_Management_System.IService4" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadata">
					<serviceMetadata httpGetEnabled="True" httpGetUrl="" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
</configuration>